# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Data
data/
dataset/
*data/

# Model weights
*.pth
*.pt
*.h5

# Outputs
/task2_car/outputs

# Env
venv/
.env
.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
wandb/
runs/
logs/

# Video output
*.mp4
*.avi
*.mov
*.jpg

# Documents
作业要求.md
/task2_car/README.md
/task2_car/assets/